{% extends 'base.html' %}

{% load static crispy_forms_tags %}

{% block content %}
<div class="container mt-6">
	<div class="row">
		<div class="col mb-5">
			<h2>Exam scores</h2>
			{% if not object_list %}
				You haven't done any exams yet.
			{% else %}
			<table id="scores" class="mt-3 box-shadow shadow-4 table table-striped">
				<thead>
					<tr class="bg-primary text-white font-weight-bold">
						<th class="font-weight-bold">Exam name</th>
						<th class="font-weight-bold">Completed</th>
						<th class="font-weight-bold">Candidate</th>
						<th class="font-weight-bold">Score</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for object in object_list %}
					<tr>
						<td>{{ object.exam.name }}</td>
						<td>{{ object.finished }}</td>
						{% if object.nick_name == None %}
						<td></td>
						{% else %}
						<td>{{ object.nick_name }}</td>
						{% endif %}
						<td>{{ object.get_score }} %</td>
						<td class="text-right"><a href="{% url 'exam-score' object.pk %}" class="btn btn-primary">Show more</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}
			<hr />
			<a href="{% url 'exam-list' %}" class="btn btn-warning">Return to User's Panel</a>
		</div>
	</div>
</div>
{% endblock content %}

 {% block subfooter %}
{% endblock subfooter %}

{% block footer %}
{% endblock footer %}
