{% extends 'base.html' %}

{% load static crispy_forms_tags %}
{% load custom_filters %}

{% block content_header %}
<section id="about-header" class="section" data-overlay="8">
  <div class="container text-white">
    <h3>E-learnings & Exams</h3>
    <h6 class="text-light mb-5">Improve your knowledge or challenge your job applicant.</h6>
  </div>
</section>
{% endblock content_header %}


{% block content %}
<style>

div#tab-presentation select {
    padding: 5px;
    border: 1px solid #28479e;
    color: #000;
    background-color: #ffff;
    width: 100%;
}

div#tab-presentation label {
    font-size: 15px;
}

</style>
<div id="exam-list" class="container mt-7 mb-12">
	<div class="row">
		<div class="col-sm-3 mb-3">
	      <ul class="nav nav-pills flex-column" role="tablist">
			<li class="nav-item">
			  <a class="nav-link active" data-toggle="tab" href="#tab-dash">Dashboard</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" data-toggle="tab" href="#tab-exams">Exams</a>
			</li>
			<li id="elearning-list" class="nav-item">
			  <a class="nav-link" data-toggle="tab" href="#tab-el">E-Learnings</a>
			</li>
			<li id="download_materials" class="nav-item">
			  <a class="nav-link" data-toggle="tab" href="#tab-dm">Download Materials</a>
			</li>
			<li id="Presentation" class="nav-item">
			  <a class="nav-link" data-toggle="tab" href="#tab-presentation">Presentations</a>
			</li>
			{% comment %} <li class="nav-item">
			  <a class="nav-link" data-toggle="tab" href="#tab-el-ns">E-Learnings (no slides)</a>
			</li> {% endcomment %}
	  	</ul>
			<li style="list-style-type:none;"> <a href="{% url 'account_change_password' %}" class="mt-3 btn btn-sm btn-warning">Change Password</a></li>
			<li style="list-style-type:none;"><a href="{% url 'set_timezone' %}" class="mt-3 btn btn-sm btn-warning">Change Timezone</a></li>
		</div>
		<div class="col-sm-9">
	     <div class="tab-content">
			 <div class="loader exam_loader"></div>
			 <div class="tab-pane fade show active" id="tab-dash">
				 <div class="container-fluid">
					 <h2 class="text-center">Admin’s activity panel</h2>
				 <div class="row justify-content-center">
					 <div class="col-md-6 col-sm-3 col-3">
						 <button class="btn btn-primary pull-right" id="user-graph-btn">You</button>
					 </div>
					 <div class="col-md-6 col-sm-3 col-3">
                           <button class="btn btn-primary pull-left" id="team-graph-btn">Team</button>
					 </div>
				 </div>
					 <br><br>
					 <div class="user-graph"  style="display:none;">
						 <h2 class="text-center">Your e-learning activity</h2>
						 <div class="row justify-content-center">
							 <div class="col-s6">
								 <canvas id="userProgressChart" width="400" height="400"></canvas>
							 </div>
							 <div class="col-s6">
								 <canvas id="userProgressCompletedChart" width="400" height="400"></canvas>
							 </div>
						 </div>
					 </div>
					 <div class="team-graph" style="display:none;">
						 <h2 class="text-center">Team e-learning activity</h2>
						 <div class="row justify-content-center">
							 <div class="col-s6">
								 <canvas id="teamProgressProgressChart" width="400" height="400"></canvas>
							 </div>
							 <div class="col-s6">
								 <canvas id="teamProgressCompletedChart" width="400" height="400"></canvas>
							 </div>
						 </div>
					 </div>
			 </div>
			 </div>
	        <div class="tab-pane fade" id="tab-exams">
		        <div class="container-fluid">
		        	<div class="row">
		        		{% for obj in exams %}
				        <div class="col-md-6 p-0">
				            <div class="pricing-1">
				            <p class="plan-name">{{ obj.name }}</p>
				            <div class="text-muted"><small>{{ obj.description }}</small></div>
			                <a class="mt-4 btn btn-block btn-primary" href="{% url 'exam' obj.pk obj.slug %}">Start</a>
				          </div>
				        </div>
					    {% empty %}
					    	No available exams found.
				        {% endfor %}
				    </div>
				</div>
		        <br />
		        <a class="mt-3 btn btn-sm btn-warning" href="{% url 'exam-scores' %}">Show exam scores</a>
	        </div>

	        <div class="tab-pane fade" id="tab-el">
		        <div class="container-fluid">
		        	<div class="row">
				        {% for obj in elearnings %}
					        <div class="col-md-6 p-0">
					            <div class="pricing-1">
									<div class="plan_detail">
										<p class="plan-name">{{ obj.name }}</p>
									{% if obj.pk in e_user_sessions %}

										<div class="dropdown">
											<button id="memory_force_dropdown{{obj.pk}}" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
												<i id="fa-exclamation-triangle{{obj.pk}}" class="fa fa-exclamation-triangle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{memory_force|memory_force_title:obj.name}}" style="color: {{memory_force|memory_force_value:obj.name}};"></i>
											</button>
											<div id="memory_force" class="{{obj.pk}} memory_force_adiv dropdown-menu">
											  <a class="{{obj.pk}} dropdown-item" href="#">Low</a>
											  <a class="{{obj.pk}} dropdown-item" href="#">Medium</a>
											  <a class="{{obj.pk}} dropdown-item" href="#">High</a>
											</div>
										</div>
										{% endif %}
									</div>
									<div style="min-height:70px" class="text-muted"><small>{{ obj.description }}</small></div>
									<a class="mt-4 btn btn-block btn-primary" href="{% url 'elearning' obj.pk obj.slug %}">
										{% if obj.pk in e_user_sessions %}
											Continue
										{% else %}
											Start
										{% endif %}
									</a>
					          </div>
					        </div>
					    {% empty %}
					    	No available e-learnings found.
				        {% endfor %}
				    </div>
				</div>
		        <br />
		        <a class="mt-3 btn btn-sm btn-warning" href="{% url 'elearning-progress' %}">Show e-Learnings progress</a>
	        </div>

			 <div class="tab-pane fade" id="tab-el-ns">
	        	<div class="container-fluid">
		        	<div class="row">
				        {% for obj in elearnings_ns %}
					        <div class="col-md-6 p-0">
					            <div class="pricing-1">
					            <p class="plan-name">{{ obj.name }}</p>
					            <div class="text-muted"><small>{{ obj.description }}</small></div>
				                <a class="mt-4 btn btn-block btn-primary" href="{% url 'exam' obj.pk obj.slug %}">Start</a>
					          </div>
					        </div>
					    {% empty %}
					    	No available e-learnings without slides found.
				        {% endfor %}
				    </div>
				</div>
		        <br />
		        <a class="mt-3 btn btn-sm btn-warning" href="{% url 'elearning-progress' %}">Show E-Learnings progress</a>
	        </div>



<!--			Download Material View start-->

			<div class="tab-pane fade" id="tab-dm">
	        	<div class="container-fluid">
					{% if request.user.is_demo %}
							<p>The downloadable materials are not available for demo users,<br>
							please contact us or your partner, if you need more information.</p>
					{% else %}
				        {% for obj in material_files %}
							{% if forloop.counter|divisibleby:2 %}
							{% else %}
							<div class="row">
							{% endif %}

							<div class="col-sm-4">
								{% if "pdf" in obj %}
									<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
								{% elif "xlsx" in obj %}
									<i class="fa fa-file-excel-o" aria-hidden="true"></i>
								{% else %}
									<i class="fa fa-file-powerpoint-o" aria-hidden="true"></i>
								{% endif %}
								<a href="{% url 'download-files' obj %}">{{obj}}</a>
							</div>
							{%  if forloop.counter|divisibleby:2  or forloop.counter == 0  %}
								</div>
							{% endif %}
				        {% endfor %}
					{% endif %}
				    </div>
				</div>
	 </div>


<!--			Download Material View Ends-->


	<!--			Presentation View start-->

	<div class="tab-pane fade" id="tab-presentation">
		        <div class="container-fluid">
					<form action="{% url 'presentation-slides' %}" >
		        	<div class="row">
						<div class="col-sm-2">
					    	<label for="elearning">E-learning</label>
						</div>
						<div class="col-sm-2">
							<select id="elearning" name="elearning">
								<option value="----">-----</option>
							  {% for elearning_name in presentation_elearnings %}
							  <option value="{{elearning_name}}">{{elearning_name}}</option>
								{% empty %}
								{% endfor %}
							</select>
						</div>
						</div>
					 <br>

						<div class="row">
							<div class="col-sm-2">
							<label for="topic">Topic</label>
							</div>
							<div class="col-sm-2">
							<select id="topic" name="topic">
								<option value="----" class="empty_opition">-----</option>
								{% for topic_name,el_name in topic_dict.items %}
							  <option class="{{el_name|replace_spaces}} all_options" value="{{topic_name}}">{{topic_name}}</option>
								{% empty %}
								{% endfor %}
							</select>
							</div>
						</div>

		        <br>
					 <input type="submit" class="mt-3 btn btn-sm btn-warning" href="#" value="Show me slides">
  				</form>

					</div>
				</div>
	        </div>

<!--			Presentation View Ends-->
		    </div>
</div>



	    </div>
	</div>
</div>
{% endblock content %}

 {% block subfooter %}
{% endblock subfooter %}
{% block page-js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
$(document).ready(function(){

$('button').click(function(){
  if(this.id == 'user-graph-btn'){
    $('.user-graph').show();
    $('.team-graph').hide();
    var ctx = document.getElementById('userProgressChart').getContext('2d');
    var ctx2 = document.getElementById('userProgressCompletedChart').getContext('2d');
    var elearnings = {{elearnings_progress|safe}};
    var user_progress = {{user_progress_report|safe}};
    var user_email = "{{request.user.email}}";
    var user_progress_completed_report = {{user_progress_completed_report|safe}}
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',
    // The data for our dataset
    data: {
        labels: elearnings,
        datasets: [{
            label: 'progress activity',
            backgroundColor: 'blue',
            borderColor: 'blue',
            data: user_progress[user_email]
        }]
    },

    // Configuration options go here
    options: {}
});

// progress completed chart
var chart2 = new Chart(ctx2, {
    // The type of chart we want to create
    type: 'bar',
    // The data for our dataset
    data: {
        labels: elearnings,
        datasets: [{
            label: 'progress completed',
            backgroundColor: 'blue',
            borderColor: 'blue',
				data: user_progress_completed_report[user_email]
        }]
    },

    // Configuration options go here
    options: {}
});

  }else{
    $('.user-graph').hide();
    $('.team-graph').show();
    var ctx = document.getElementById('teamProgressProgressChart').getContext('2d');
    var ctx2 = document.getElementById('teamProgressCompletedChart').getContext('2d');
    var all_user_dict = {{all_user_dict|safe}};
    var user_labels = {{user_label_list|safe}};
    var team_dict = {{team_completed_list|safe}};
    var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',
    // The data for our dataset
    data: {
        labels: user_labels,
        datasets: all_user_dict
    },

    // Configuration options go here
    options : {
	  scales: {
		xAxes: [{
		  scaleLabel: {
			display: true,
			labelString: 'Team Progress'
		  }
		}]
	  }
	}

});

var chart2 = new Chart(ctx2, {
    // The type of chart we want to create
    type: 'bar',
    // The data for our dataset
    data: {
        labels: user_labels,
        datasets: team_dict
    },

    // Configuration options go here
    options : {
	  scales: {
		xAxes: [{
		  scaleLabel: {
			display: true,
			labelString: 'Team Session Completed',

		  }
		}]
	  }
	}
});


  }
});

});

</script>
{% endblock page-js %}
{% block footer %}
{% endblock footer %}