{% extends 'base.html' %}

{% load static crispy_forms_tags %}
{% load custom_filters %}

{% block content_header %}
<section id="about-header" class="section" data-overlay="8">
  <div class="container text-white">
    <h3>E-learnings & Exams</h3>
    <h6 class="text-light mb-5">Improve your knowledge or challenge your job applicant.</h6>
  </div>
</section>
{% endblock content_header %}


{% block content %}

<style>

div#tab-presentation select {
    padding: 5px;
    border: 1px solid #28479e;
    color: #000;
    background-color: #ffff;
    width: 100%;
}

div#tab-presentation label {
    font-size: 15px;
}

</style>
<div id="exam-list" class="container mt-7 mb-12">
	<div class="row">
		<div class="col-sm-3 mb-3">
	      <ul class="nav nav-pills flex-column" role="tablist">
	    <li class="nav-item">
	      <a class="nav-link active" data-toggle="tab" href="#tab-exams">Exams</a>
	    </li>
	    <li id="elearning-list" class="nav-item">
	      <a class="nav-link" data-toggle="tab" href="#tab-el">E-Learnings</a>
	    </li>
		<li id="download_materials" class="nav-item">
	      <a class="nav-link" data-toggle="tab" href="#tab-dm">Download Materials</a>
	    </li>
		<li id="Presentation" class="nav-item">
	      <a class="nav-link" data-toggle="tab" href="#tab-presentation">Presentations</a>
	    </li>
	    {% comment %} <li class="nav-item">
	      <a class="nav-link" data-toggle="tab" href="#tab-el-ns">E-Learnings (no slides)</a>
	    </li> {% endcomment %}
	  	</ul>
			<li style="list-style-type:none;"> <a href="{% url 'account_change_password' %}" class="mt-3 btn btn-sm btn-warning">Change Password</a></li>
			<li style="list-style-type:none;"><a href="{% url 'set_timezone' %}" class="mt-3 btn btn-sm btn-warning">Change Timezone</a></li>
		</div>
		<div class="col-sm-9">
	     <div class="tab-content">
			 <div class="loader exam_loader"></div>
	        <div class="tab-pane fade show active" id="tab-exams">
		        <div class="container-fluid">
		        	<div class="row">
		        		{% for obj in exams %}
				        <div class="col-md-6 p-0">
				            <div class="pricing-1">
				            <p class="plan-name">{{ obj.name }}</p>
				            <div class="text-muted"><small>{{ obj.description }}</small></div>
			                <a class="mt-4 btn btn-block btn-primary" href="{% url 'exam' obj.pk obj.slug %}">Start</a>
				          </div>
				        </div>
					    {% empty %}
					    	No available exams found.
				        {% endfor %}
				    </div>
				</div>
		        <br />
		        <a class="mt-3 btn btn-sm btn-warning" href="{% url 'exam-scores' %}">Show exam scores</a>
	        </div>
	        <div class="tab-pane fade" id="tab-el">
		        <div class="container-fluid">
		        	<div class="row">
				        {% for obj in elearnings %}
					        <div class="col-md-6 p-0">
					            <div class="pricing-1">
									<div class="plan_detail">
										<p class="plan-name">{{ obj.name }}</p>
									{% if obj.pk in e_user_sessions %}

										<div class="dropdown">
											<button id="memory_force_dropdown{{obj.pk}}" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
												<i id="fa-exclamation-triangle{{obj.pk}}" class="fa fa-exclamation-triangle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{memory_force|memory_force_title:obj.name}}" style="color: {{memory_force|memory_force_value:obj.name}};"></i>
											</button>
											<div id="memory_force" class="{{obj.pk}} memory_force_adiv dropdown-menu">
											  <a class="{{obj.pk}} dropdown-item" href="#">Low</a>
											  <a class="{{obj.pk}} dropdown-item" href="#">Medium</a>
											  <a class="{{obj.pk}} dropdown-item" href="#">High</a>
											</div>
										</div>
										{% endif %}
									</div>
									<div style="min-height:70px" class="text-muted"><small>{{ obj.description }}</small></div>
									<a class="mt-4 btn btn-block btn-primary" href="{% url 'elearning' obj.pk obj.slug %}">
										{% if obj.pk in e_user_sessions %}
											Continue
										{% else %}
											Start
										{% endif %}

									</a>
					          </div>
					        </div>
					    {% empty %}
					    	No available e-learnings found.
				        {% endfor %}
				    </div>
				</div>
		        <br />
		        <a class="mt-3 btn btn-sm btn-warning" href="{% url 'elearning-progress' %}">Show e-Learnings progress</a>
	        </div>
	        <div class="tab-pane fade" id="tab-el-ns">
	        	<div class="container-fluid">
		        	<div class="row">
				        {% for obj in elearnings_ns %}
					        <div class="col-md-6 p-0">
					            <div class="pricing-1">
					            <p class="plan-name">{{ obj.name }}</p>
					            <div class="text-muted"><small>{{ obj.description }}</small></div>
				                <a class="mt-4 btn btn-block btn-primary" href="{% url 'exam' obj.pk obj.slug %}">Start</a>
					          </div>
					        </div>
					    {% empty %}
					    	No available e-learnings without slides found.
				        {% endfor %}
				    </div>
				</div>
		        <br />
		        <a class="mt-3 btn btn-sm btn-warning" href="{% url 'elearning-progress' %}">Show E-Learnings progress</a>
	        </div>



<!--			Download Material View start-->

			<div class="tab-pane fade" id="tab-dm">
	        	<div class="container-fluid">


				        {% for obj in material_files %}
							{% if forloop.counter|divisibleby:2 %}
							{% else %}
							<div class="row">
							{% endif %}

							<div class="col-sm-4">
								{% if "pdf" in obj %}
									<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
								{% elif "xlsx" in obj %}
									<i class="fa fa-file-excel-o" aria-hidden="true"></i>
								{% else %}
									<i class="fa fa-file-powerpoint-o" aria-hidden="true"></i>
								{% endif %}
								<a href="{% url 'download-files' obj %}">{{obj}}</a>
							</div>
							{%  if forloop.counter|divisibleby:2  or forloop.counter == 0  %}
								</div>
							{% endif %}

				        {% endfor %}

				    </div>
				</div>
	 </div>


<!--			Download Material View Ends-->


	<!--			Presentation View start-->

	<div class="tab-pane fade" id="tab-presentation">
		        <div class="container-fluid">
					<form action="{% url 'presentation-slides' %}" >
		        	<div class="row">
						<div class="col-sm-2">
					    	<label for="elearning">E-learning</label>
						</div>
						<div class="col-sm-2">
							<select id="elearning" name="elearning">
								<option value="----">-----</option>
							  {% for elearning_name in presentation_elearnings %}
							  <option value="{{elearning_name}}">{{elearning_name}}</option>
								{% empty %}
								{% endfor %}

							</select>
						</div>
						</div>
					 <br>

						<div class="row">
							<div class="col-sm-2">
							<label for="topic">Topic</label>
							</div>
							<div class="col-sm-2">
							<select id="topic" name="topic">
								<option value="----" class="empty_opition">-----</option>
								{% for topic_name,el_name in topic_dict.items %}
							  <option class="{{el_name}} all_options" value="{{topic_name}}">{{topic_name}}</option>
								{% empty %}
								{% endfor %}
							</select>
							</div>
						</div>

		        <br>
					 <input type="submit" class="mt-3 btn btn-sm btn-warning" href="#" value="Show me slides">
  				</form>

					</div>
				</div>
	        </div>

<!--			Presentation View Ends-->
		    </div>
</div>



	    </div>
	</div>
</div>
{% endblock content %}

 {% block subfooter %}
{% endblock subfooter %}

{% block footer %}
{% endblock footer %}