{% extends 'base.html' %}

{% load static %}

{% block content_header %}
<section id="about-header" class="section" data-overlay="8">
  <div class="container text-white">
    <h3>Our E-learnings and Exams</h3>
    <h6 class="text-light mb-5">Constantly growing 4 you.</h6>
  </div>
</section>
{% endblock content_header %}

{% block content %}
<section id="about" class="section">
  <div class="container">
    <div class="row pt-2">
      <div class="col-sm-4">
        <div class="text-center ourbase_text">
          <img src="{% static 'img/base_ifrs17.png' %}" alt="t9 image">
          <h5><strong>IFRS 17 E-learning & Exam <br> Now available! </strong></h5>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="text-center ourbase_text">
          <img src="{% static 'img/base_sii.png' %}" alt="t9 image">
          <h5><strong>Solvency II E-learning & Exam <br> Now available! </strong></h5>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="text-center ourbase_text">
          <img src="{% static 'img/base_coming3.png' %}" alt="t9 image">
          <h5><strong> We are & we will be adding new e-learnings & exams regularly. <br> Stay tuned! </strong></h5>
        </div>
      </div>



    </div>

  <hr />
  </div>
</section>

{% endblock content %}
