{% extends 'base.html' %}

{% load static %}

{% block content_header %}
<section id="about-header" class="section" data-overlay="8">
  <div class="container text-white">
    <h3>Our E-learnings and Exams</h3>
    <h6 class="text-light mb-5">Constantly growing 4 you.</h6>
  </div>
</section>
{% endblock content_header %}

{% block content %}
<section id="about" class="section">
  <div class="container">
    <div class="row pt-2">
      <div class="col-sm-4">
        <div class="text-center ourbase_text">
          <img src="{% static 'img/ifrs17el.png' %}" alt="t9 image">
          <h5><strong>IFRS 17 E-learning</strong></h5>
          <p>"From zero to hero" IFRS 17 E-learning. 20 detailled lessons supported with questions to help you verify your understanding. Practical examples, ready solutions and insights from the market. <br> Now available!</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="text-center ourbase_text">
          <img src="{% static 'img/siiel.png' %}" alt="t9 image">
          <h5><strong>Solvency II E-learning</strong></h5>
          <p>"From zero to hero" Solvency 2 E-learning. Full of examples and visualisations.<br>Coming Q1 2020.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="text-center ourbase_text">
          <img src="{% static 'img/usgaapel.png' %}" alt="t9 image">
          <h5><strong>US GAAP E-learning</strong></h5>
          <p>"From zero to hero" US GAAP E-learning. Full of examples and visualisations.<br>Coming Q1 2020.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="text-center ourbase_text">
          <img src="{% static 'img/ifrs17ex.png' %}" alt="t9 image">
          <h5><strong>IFRS 17 Exam</strong></h5>
          <p>Verify the level of knowledge of your job applicant.<br>Questions with different difficulty level, that will perfectly assess the expertise of your candidate. <br> Now available!</p>
          </div>
      </div>

     <div class="col-sm-4">
        <div class="text-center ourbase_text">
          <img src="{% static 'img/siiex.png' %}" alt="t9 image">
          <h5><strong>Solvency II Exam</strong></h5>
                    <p>Verify the level of knowledge of your job applicant.<br>Questions with different difficulty level, that will perfectly assess the expertise of your candidate. Coming Q1 2020.p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="text-center ourbase_text">
          <img src="{% static 'img/usgaapex.png' %}" alt="t9 image">
          <h5><strong>US GAAP Exam</strong></h5>
            <p>Verify the level of knowledge of your job applicant.<br>Questions with different difficulty level, that will perfectly assess the expertise of your candidate. Coming Q1 2020.p>
        </div>
      </div>


    </div>

  <hr />
  </div>
</section>

{% endblock content %}
