<div class="row">
	<div class="mt-8 col-md-8 mx-auto text-center">
		<h2>Congratulations</h2>
		<br/>
		<p>You have completed the whole E-learning. You may download your certificate in a results panel.
			If you wish, you may also restart this e-learning by clicking "reset" also in result panel</p>
		<br/>

		<a href="{% url 'elearning-progress' %}" id="check-results" class="btn btn-lg btn-primary btn-block">Check progress</a>
	</div>
</div>

 {% block subfooter %}
{% endblock subfooter %}

{% block footer %}
{% endblock footer %}