{% load static %}
<div class="alert alert-success toast">
				 You can also use swipe the slides your finger
			</div>

<style>

.mySlides {display:none;}

img.mySlides.current {
    display: block !important;
    background-color: #000;
    padding-right: 75px;
    padding-left: 75px;
    padding-bottom: 32px;
}

p.slide_counter {
    position: absolute;
    left: 25px;
    color: #fff;
    font-size: 25px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    font-weight: bold;
}

</style>
<div class="row">
	<div class="col-md-12 mx-auto text-center">
    <!--old view start	-->
		<div id="full_screen_img" class="ppt_info_slide">
			<div class="loader"></div>

			<!--<img src="{{ slide.image.url }}" />-->
			{% for obj in slides %}
		  		<img class="mySlides" id="{{forloop.counter}}" src="{{ obj.image.url }}" style="width:100%">
			{% endfor %}

			<div class="bottom_pagination">
				<p class="slide_counter">Slide <span id="seen_slide">{{seen_slide}}</span> / {{total_slides}}</p>

				<button id="previous_slide" class="previous-slide btn btn-lg btn-primary btn-block" data-toggle="tooltip" data-placement="left" title="Previous Slide">
					<i class="fa fa-caret-left" aria-hidden="true"></i>
				</button>
<!--				<button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>-->
<!--		  		<button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>-->
				<button id="start-exam" class="next-slide btn btn-lg btn-primary btn-block" data-toggle="tooltip" data-placement="left" title="Next Slide">
					<i class="fa fa-caret-right" aria-hidden="true"></i>
				</button>
				<button id="full-screen"  data-toggle="tooltip" data-placement="left" title="View full screen" class="full-screen-mode btn btn-lg btn-primary btn-block" Z>
					<img src="https://img.icons8.com/wired/64/000000/full-screen.png">
				</button>
			</div>
		</div>
			<!--old view end -->
		</div>
	</div>
</div>

{% block page-js %}
<script>
	var SEEN_SLIDES = {{seen_slide}};
</script>

<script src="{% static 'js/elearn-slide.js' %}"></script>
{% endblock page-js %}


 {% block subfooter %}
{% endblock subfooter %}

{% block footer %}
{% endblock footer %}



