@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans', sans-serif !important;
}


.navbar {
	top: 0;
}

.navbar[data-navbar="fixed"], .navbar-scrolled [data-navbar="fixed"] {
	background-color: rgb(32, 56, 100);
}

.navbar-brand img {
	max-height: 30px;
}

[data-navbar="static"] {
	border-bottom: none;
}

main.main-content {
	margin-top: 56px;
}

header#home {
	background-image: url('/static/img/adult.jpg');
}

.cookiealert {
	background: black;
}

#references {
	background-image: url('/static/img/agreement.jpg');
	background-position: center center;
}


section#about, section#contact, section#solutions {
	padding-top: 4rem;
}
section#about-header, section#contact-header, section#solutions-header, section#questions-header {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

section#about-header {
	background-image: url('/static/img/startup.jpg');
	background-position: center bottom;
	background-size: cover;
}
section#solutions-header {
	background-image: url('/static/img/businessman.jpg');
		background-position: center bottom;
}
section#contact-header {
	background-image: url('/static/img/writing.jpg');
}

 #answer-alert {
 	width: 100%;
 }

 section#questions-header {
 	background-image: url('/static/img/tech.jpg');
 }
 .btn-warning {
 	color: black;
 }

 img.slide {
 	width: 100%;
 }

/*15 nov css start here */

.bottom_pagination {
    background: #646464;
    padding: 15px;
    display: flex;
    justify-content: center;
    position: relative;
}
.bottom_pagination button {
    background: unset !important;
    border: navajowhite;
    width: auto;
    margin: 0 !important;
    padding: 0px 20px;
    height: auto;
    font-size: 45px;
    transition: all 0.5s ease-in-out 0s;
    box-shadow: none;
    line-height: 20px;
}
.bottom_pagination button:hover {
    color: #21375f;
    box-shadow: none;
}
.ppt_info_slide {
    border: 2px solid #646464;
}
.ppt_info_slide img {
   width: 100%;
}

/*18 nov Our Base css start here*/

.ourbase_text h5 {
    margin-top: 20px;
}
.footer_menu_items {
    height: 100%;
    padding-left: 40px;
}

/*19 Nov 2019*/

.plan_detail .dropdown {
    position: absolute;
    top: 0;
    right: 0;
}
.plan_detail {
    position: relative;
}
.plan_detail .dropdown .btn.btn-primary {
    background: unset;
    border: none;
    color:
    #333;
    font-size: 20px;
    box-shadow: none;
}
.change_btns {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.change_btns .btn.btn-primary {
    border: 2px solid #333;
    background: unset;
    color: #333;
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
    transition: all 0.5s ease-in-out 0s;
}
.change_btns .btn.btn-primary i {
    margin-right: 5px;
}
.change_btns .btn.btn-primary:hover {
    background: #333;
    color: #fff;
    transition: all 0.5s ease-in-out 0s;
}
.puzzle_img img {
    max-width: 120px;
}

.card-body pre {
    font-family: "Open Sans",sans-serif;
    font-size: .9375rem;
    font-weight: 300;
    line-height: 1.9;
    color: #203864;
    text-align: left;
    background-color: transparent;
    padding: 0;
    border: 0px;
    box-shadow: none;
    white-space: pre-wrap;
}

#explanation-text {
    font-family: "Open Sans",sans-serif;
    font-size: .9375rem;
    font-weight: 300;
    line-height: 1.9;
    color: #203864;
    text-align: left;
    background-color: transparent;
    padding: 0;
    border: 0px;
    box-shadow: none;
    white-space: pre-wrap;
}
/* 22Nov start*/

button#full-screen {
    position: absolute;
    right: 25px;
    font-size: 25px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
}
button#full-screen img {
    filter: invert(1);
    width: 30px;
}

/* 22Nov end*/

/* test start chandni full screen view */
.ppt_info_slide.full_screen {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 57px;
    background: #000;
    position: fixed;
    z-index: 9999;
}

.full_screen img {
    width: 100%;
    height: 95%;
}

.ppt_info_slide.full_screen .bottom_pagination {
    bottom: 0;
    padding: 0px;
    width: 100%;
    position: fixed;
    left: 0;
}

/* test end  chandni*/

#question-box button {
    white-space: pre-wrap
}

@media (max-width: 767px) {
div#exam-screen {
    margin-bottom: 20px !important;
}
.footer_menu_items {
    padding-left: 0;
    padding-top: 40px;
    align-content: center;
    text-align: center;
}
.social.float-right {
    float: unset !important;
    text-align: center;
    margin-top: 10px;
}
.ppt_info_slide.full_screen> img {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: auto;
}
}

