@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans', sans-serif !important;
}


.navbar {
	top: 0;
}

.navbar[data-navbar="fixed"], .navbar-scrolled [data-navbar="fixed"] {
	background-color: rgb(32, 56, 100);
}

.navbar-brand img {
	max-height: 30px;
}

[data-navbar="static"] {
	border-bottom: none;
}

main.main-content {
	margin-top: 56px;
}

header#home {
	background-image: url('/static/img/adult.jpg');
}

.cookiealert {
	background: black;
}

#references {
	background-image: url('/static/img/agreement.jpg');
	background-position: center center;
}


section#about, section#contact, section#solutions {
	padding-top: 4rem;
}
section#about-header, section#contact-header, section#solutions-header, section#questions-header {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

section#about-header {
	background-image: url('/static/img/startup.jpg');
	background-position: center bottom;
	background-size: cover;
}
section#solutions-header {
	background-image: url('/static/img/businessman.jpg');
		background-position: center bottom;
}
section#contact-header {
	background-image: url('/static/img/writing.jpg');
}

 #answer-alert {
 	width: 100%;
 }

 section#questions-header {
 	background-image: url('/static/img/tech.jpg');
 }
 .btn-warning {
 	color: black;
 }

 img.slide {
 	width: 100%;
 }

/*15 nov css start here */

.bottom_pagination {
    background: #646464;
    padding: 15px;
    display: flex;
    justify-content: center;
}
.bottom_pagination button {
    background: unset !important;
    border: navajowhite;
    width: auto;
    margin: 0 !important;
    padding: 0px 20px;
    height: auto;
    font-size: 45px;
    transition: all 0.5s ease-in-out 0s;
    box-shadow: none;
    line-height: 20px;
}
.bottom_pagination button:hover {
    color: #21375f;
    box-shadow: none;
}
.ppt_info_slide {
    border: 2px solid #646464;
}
.ppt_info_slide img {
   width: 100%;
}

/*18 nov Our Base css start here*/

.ourbase_text h5 {
    margin-top: 20px;
}
.footer_menu_items {
    height: 100%;
    padding-left: 40px;
}









@media (max-width: 767px) {
div#exam-screen {
    margin-bottom: 20px !important;
}
.footer_menu_items {
    padding-left: 0;
    padding-top: 40px;
    align-content: center;
    text-align: center;
}
.social.float-right {
    float: unset !important;
    text-align: center;
    margin-top: 10px;
}

}


