{% extends "admin/base_site.html" %}
{% block extrahead %}
    <style>
        .app-socialaccount.module {
            display: none;
        }
        .app-question.module {
            display: none;
        }
        .app-auth.module {
            display: none;
        }
        .app-account.module {
            display: none;
        }
        tr.model-elearningrepetition,tr.model-elearningcorrection,tr.model-elearningsession,tr.model-elearninguseranswer,
        tr.model-elearningusersession,tr.model-slide{
            display:none;
        }
    </style>
{% endblock %}