<div class="row">
	<div id="question-box" data-phase="" class="col-md-7">
		<div class="row">
			<div class="col">
				<div class="card border shadow-4 mt-2 mb-2">
					<div class="card-body">
					  <h5 class="card-title">Question</h5>
					  <pre>{{ question.text }}</pre>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				{% for answer in question.shuffled_answers %}
				<button data-pk="{{ answer.pk }}" data-qpk="{{ question.pk }}" data-rpk="{{ show_answers }}" class="answer-btn btn btn-outline-primary btn-block p-4">{{ answer.text }}</button>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-md-5">
		{% if question.exam.time_limit %}
		<div class="text-right">
		  <div id="timer" class="mt-3"><small><div class="time"></div></small></div>
		</div>
		{% endif %}
		<div id="explanation" class="d-none">
			<h6>Explanation:</h6>
			<p id="explanation-text" class="text-break"></div>
		</div>
</div>

<script>
	$(".answer-btn").on('click', function () {
			$(".answer-btn").css('display','none');
	});

	$(".next-question").on('click', function () {
			$(".answer-btn").css('display','block');
	});

</script>