{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Actuarial & Accounting e-learnings supported with space repetition algorithms optimized with AI">
    <meta name="keywords" content="actuarial learnings">

    <title>Actuarial E-learnings</title>

    <!-- Styles -->
    <link href="{% static 'css/page.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'img/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <!--  Open Graph Tags -->
    <!-- <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="twitter:card" content="summary_large_image">
    -->
  </head>

  <body>

    {% include 'navbar.html' %}

    <!-- START Bootstrap-Cookie-Alert -->
    <div class="alert text-center cookiealert" role="alert">
        We use cookies to ensure you get the best experience on our website. <a href="https://cookiesandyou.com/" target="_blank">Learn more</a>
        <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
            I agree
        </button>
    </div>
    <!-- END Bootstrap-Cookie-Alert -->

    <!-- Main Content -->
    <main class="main-content">
      {% block content_header %}{% endblock content_header %}
      {% block content %}{% endblock content %}

      {% if not hide_references %}
      <section id="references" class="bg-primary pt-7 pb-7" data-overlay-light="9">
        <div class="container">
          <div class="slider-dots-fill-warning" data-provide="slider" data-dots="true">
            <div class="text-center">
              <h3>Mickey Mouse</h3>
              <h5>CFO at Mouse Insurance</h5>
              <p>Perfect platform for my staff</p>
            </div>
            <div class="text-center">
              <h3>Donald Duck</h3>
              <h5>Chief Actuary at Duckburg Insurance</h5>
              <p>This application is very nice blablabla</p>
            </div>
            <div class="text-center">
              <h3>Buggs Bunny</h3>
              <h5>CRO at Rabbit Insurance</h5>
              <p>I have never learned so efficiently before</p>
            </div>

            <div class="text-center">
              <h3>Pig Porky</h3>
              <h5>IFRS 17 Programme Manager at Pork RE</h5>
              <p>Amazing, cool and efficient!</p>
            </div>

          </div>
        </div>
      </section>
      {% endif %}

    </main>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <a href="#"><img style="max-width: 150px;" src="{% static 'img/logo_small_2.png' %}" alt="logo"></a>
            <div class="social float-right">
              <a class="social-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
              <a class="social-linkedin" href="#"><i class="fa fa-facebook"></i></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-lg-3">
            <p>
              4actuaries.com Ltd<br>
              Gdanska 1<br>
              Bromberg, PL (EU)
            </p>
            <p>
              +48 123 456 789<br>
            </p>
            <p>contact@4actuaries.com</p>
          </div>

          <div class="col-lg-6">
            <div class="nav nav-bold nav-uppercase nav-trim justify-content-lg-center flex-column">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
              <a class="nav-link" href="{% url 'about' %}">About</a>
              <a class="nav-link" href="{% url 'solutions' %}">Solutions</a>
              <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
            </div>
          </div>

        </div>
      </div>
    </footer><!-- /.footer -->

    <!-- Scripts -->
    <script src="{% static 'js/page.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
    {% block extendfoot %}{% endblock extendfoot %}

  </body>
</html>
