{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Actuarial & Accounting e-learnings supported with space repetition algorithms optimized with AI">
    <meta name="keywords" content="actuarial learnings">

    <title>Actuarial E-learnings</title>

    <!-- Styles -->
    <link href="{% static 'css/page.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'img/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



    <!--  Open Graph Tags -->
    <!-- <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta name="twitter:card" content="summary_large_image">
    -->
  </head>

  <body>

    {% include 'navbar.html' %}

    <!-- START Bootstrap-Cookie-Alert -->
    <div class="alert text-center cookiealert" role="alert">
        We use cookies to ensure you get the best experience on our website. <a href="https://cookiesandyou.com/" target="_blank">Learn more</a>
        <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
            I agree
        </button>
    </div>
    <!-- END Bootstrap-Cookie-Alert -->

    <!-- Main Content -->
    <main class="main-content">
      {% block content_header %}{% endblock content_header %}
      {% block content %}{% endblock content %}

      {% if not hide_references %}
      <section id="references" class="bg-primary pt-7 pb-7" data-overlay-light="9">
        <div class="container">
          <div class="slider-dots-fill-warning" data-provide="slider" data-dots="true">
            <div class="text-center">
              <h3>Mickey Mouse</h3>
              <h5>CFO at Mouse Insurance</h5>
              <p>Perfect platform for my staff</p>
            </div>
            <div class="text-center">
              <h3>Donald Duck</h3>
              <h5>Chief Actuary at Duckburg Insurance</h5>
              <p>This application is very nice blablabla</p>
            </div>
            <div class="text-center">
              <h3>Buggs Bunny</h3>
              <h5>CRO at Rabbit Insurance</h5>
              <p>I have never learned so efficiently before</p>
            </div>

            <div class="text-center">
              <h3>Pig Porky</h3>
              <h5>IFRS 17 Programme Manager at Pork RE</h5>
              <p>Amazing, cool and efficient!</p>
            </div>

          </div>
        </div>
      </section>
      {% endif %}

    </main>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
<!--        <div class="row">-->
<!--          <div class="col-12">-->

<!--            <div class="social float-right">-->
<!--              <a class="social-linkedin" href="#"><i class="fa fa-linkedin"></i></a>-->
<!--              <a class="social-linkedin" href="#"><i class="fa fa-facebook"></i></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <div class="row">
          <div class="col-lg-3">

            {% block footer-image %}<img src="{%static 'img/certificate/user_logo_img.png' %}">{% endblock footer-image %}
            {% block footer-content %}
            {% endblock footer-content %}
          </div>

          <div class="col-lg-4">
            <div class="nav nav-bold nav-uppercase nav-trim justify-content-lg-center flex-column footer_menu_items">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
              <a class="nav-link" href="{% url 'about' %}">About</a>
              <a class="nav-link" href="{% url 'solutions' %}">Solutions</a>
              <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
            </div>
          </div>
          <div class="col-lg-5 text-right">
            <div class="social float-right">
              <a class="social-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
              <a class="social-linkedin" href="#"><i class="fa fa-facebook"></i></a>
            </div>
          </div>

        </div>
      </div>
    </footer><!-- /.footer -->
    <script>

    //swipe slide code
          var container = document.querySelector("#exam-screen");

          container.addEventListener("touchstart", startTouch, false);
          container.addEventListener("touchmove", moveTouch, false);

          // Swipe Up / Down / Left / Right
          var initialX = null;
          var initialY = null;

          function startTouch(e) {
            initialX = e.touches[0].clientX;
            initialY = e.touches[0].clientY;
          };

          function moveTouch(e) {
            if (initialX === null) {
              return;
            }

            if (initialY === null) {
              return;
            }

            var currentX = e.touches[0].clientX;
            var currentY = e.touches[0].clientY;

            var diffX = initialX - currentX;
            var diffY = initialY - currentY;

            if (Math.abs(diffX) > Math.abs(diffY)) {
              // sliding horizontally
              if (diffX > 0) {
                // swiped left
                console.log("swiped left");
                 $(".next-slide").click();
              } else {
                // swiped right
                 $(".previous-slide").click();
                console.log("swiped right");

              }
            }

            initialX = null;
            initialY = null;

            e.preventDefault();
          };

    </script>


    <!-- Scripts -->
    <script src="{% static 'js/page.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>
    {% block extendfoot %}{% endblock extendfoot %}

  </body>
</html>
