{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
.main-content {
    flex-grow: inherit;
}
</style>
    <!-- Header -->
  {% comment %}
    <header id="home" class="header text-white h-fullscreen" data-overlay="8">
      <canvas class="constellation" data-color="#50a1ff"></canvas>
      <div class="container position-static">
        <div class="row align-items-center h-100">
          <div class="col-lg-12 text-center">
            <h1><span class="text-warning">We</span> use machine learning to do human teaching</h1>
            <p class="lead mt-5 mb-8">Actuarial e-learnings supported with space repetition algorithms optimized with AI.<br>The best Insurance Accounting Standards e-learning in the world.</p>
            <p class="gap-xy">
              {% if request.user.is_authenticated %}
                <a class="btn btn-round btn-primary mw-150" href="{% url 'exam-list' %}#elearnings">Continue learning</a>
                <a class="btn btn-round btn-warning mw-150" href="{% url 'elearning-progress' %}">Your learning dashboard</a>
              {% else %}
                <a class="btn btn-round btn-primary mw-150" href="{% url 'ourbase' %}">See the base of courses</a>
                <a class="btn btn-round btn-warning mw-150" href="{% url 'contact' %}">Request a demo</a>
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    </header><!-- /.header -->
    {% endcomment %}
   <link rel="stylesheet"  href="{% static 'core/css/style.css' %}" type="text/css" media="screen"/>
  <link href="{% static 'core/css/mycss.css' %}" rel="stylesheet">
  <link href="{% static 'core/css/mystyle.css' %}" rel="stylesheet">
    <div id="ttr_page" class="container" style="background:linear-gradient(90deg,rgba(0,112,192,1)40%, rgba(191,144,0,1)80%, rgba(191,144,0,1)100%);">
	<div style="background:url({% static 'core/images/slide.png' %}); background-size:cover; background-position: center !important;">
		<div id="videodiv" style="width:90%; max-width:1100px; height:auto; margin:auto">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 sidediv">
					<p class="mission">An e-learning platform enhanced with ai</p>
                    {% if request.user.is_authenticated %}
					<a href="{% url 'exam-list' %}"  class="req">Dashboard</a>
                    {% else%}
                    <a href="{% url 'contact' %}"  class="req">Request Demo</a>
                    {% endif %}
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mycolimg">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/mgZ-JjTDf_s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="clear-div"></div>
		</div>
	</div>
</div>
{% endblock content %}


