{% extends 'base.html' %}
{% load static %}
{% block container %}
<div id="ttr_page" class="container">

<div id="ttr_content_and_sidebar_container">
<div id="ttr_content">
<div id="ttr_content_margin"class="container-fluid">
<div class="ttr_Home_html_row0 row" style="padding-top:0px;">
	<div id="mission">
		<h1>Our <span class="sec-clr">Mission</span> </h1>
<!--		<h1 class="subhead">Fermentum phasellus turpis tempus amet morbi hymenaeos quis pellentesque suscipit</h1>-->
		<div class="ttr_Home_html_row0 row">


			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mycol cont-1">
				<h3>We provide e-learning solutions for:</h3>
				<ul class="mission">
					<li>companies looking for efficient ways to train their staff</li>
					<li>individuals who perform offline training and want to go online</li>
				</ul>
				<p class="mission">We have built an e-learning web app with a spaced repetition algorithm.</p>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mycolimg f-right">
				<img src="{% static 'core/images/light bulbs.png' %}"/>
			</div>

			<div class="clear-div"></div>

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mycolimg f-right">
				<img src="{% static 'core/images/ab3.jpg' %}"/>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mycol f-left cont-2">
				<h3>But what are spaced repetition algorithms?</h3>
				<p class="mission"><span class="sec-clr">Memory</span> is like a growing plant.</p>
				<p class="mission">If you don’t water it regularly, it will die, but if you water it too much, it will die too.</p>
				<p class="mission">Our <strong>spaced repetition algorithm</strong> prepares the repetitions  so that the remembering level grows.
				</p>
			</div>

			<div class="clear-div"></div>



			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mycol cont-3">
				<p class="mission">
					Our algorithm enhanced with <span class="sec-clr">Artificial Intelligence</span> impacts the
					<strong>forgetting curve</strong>.
				</p>
				<p class="mission">
					Your employees and/or clients will <strong>forget how to forget</strong>.
				</p>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mycolimg">
				<img src="{% static 'core/images/ab5.jpg' %}"/>
			</div>



			<div class="clear-div"></div>

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mycolimg f-right">
				<img src="{% static 'core/images/ab4.jpg' %}"/>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mycol f-left cont-4">
					<p class="mission">
						You will also be able to grow your training business from offline local to <strong>online global player</strong>.
					</p>
			</div>
			<div class="clear-div"></div>
		</div>
	</div>
</div>





</div>

</div>



<!--<div class="ttr_Home_html_row2 row">-->
<!--<div class="post_column col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
<!--<div class="ttr_Home_html_column20">-->
<!--<div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>-->
<!--<div class="html_content"><p style="text-align:Center;"><span style="font-family:'Titillium Web','Arial';font-weight:600;font-size:3.214em;color:rgba(255,255,255,1);">eLearn.ai Platform</span></p><p style="margin:2.14em 0em 0.36em 0em;text-align:Center;line-height:1.54929577464789;"><span style="font-family:'Verdana';color:rgba(255,255,255,1);">eLearn.ai Platform is easy-to-use, secure and auditable cloud-based solution. It is a software designed by elearn.ai  to automate, enhance and accelerate traditional actuarial processes with automated machine learning algorithms, explainable AI and understandable visualizations. </span></p></div>-->
<!--<div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>-->
<!--<div style="clear:both;"></div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="clearfix visible-lg-block visible-sm-block visible-md-block visible-xs-block">-->
<!--</div>-->
<!--</div>-->


<div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
</div>
</div>
<div style="clear:both">
</div>
</div>
<div style="height:0px;width:0px;overflow:hidden;"></div>



{% endblock %}