{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light" data-navbar="fixed">
  <div class="container">

    <div class="navbar-left">
      <button id="nav_toggle" class="navbar-toggler" type="button">&#9776;</button>
      <a class="navbar-brand" href="{% url 'index' %}">
        <!--<img class="logo-dark" src="{% static 'img/logo_small.png' %}" alt="logo">
        <img class="logo-light" src="{% static 'img/logo_small.png' %}" alt="logo">-->
        <div class="logodiv pt-3">
			<img src="{% static 'home/images/logo_pic.png' %}">
		</div>
      </a>
    </div>

    <section id="nav_mob" class="navbar-mobile">
    <i id="back_nav" class="fa fa-arrow-left" aria-hidden="true"></i>
      <span class="navbar-divider d-mobile-none"></span>
      <nav class="nav nav-navbar">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
        {% comment %}
          <a class="nav-link" href="{% url 'about' %}">About</a>
          <a class="nav-link" href="{% url 'solutions' %}">Solutions</a>
          <a class="nav-link" href="{% url 'careers' %}">Careers</a>
        {% endcomment %}
        <a class="nav-link" href="{% url 'contact' %}">Contact us</a>
        <a class="nav-link" href="{% url 'instructions' %}">Instructions</a>
      </nav>
    </section>

    {% if request.user.is_authenticated %}
      {% comment %}<a class="btn btn-sm btn-round btn-warning mr-4" href="{% url 'set_timezone' %}"><i class="fa fa-clock-o"></i></a>{% endcomment %}
      <a class="btn btn-sm btn-round btn-warning" href="{% url 'account_logout' %}">Logout</a>
    {% else %}
      <a class="btn btn-sm btn-round btn-warning hidden-md-down" href="{% url 'account_login' %}">Login</a>
    {% endif %}

  </div>
</nav>


<!-- /.navbar -->
