{% extends 'base.html' %}
{% load static %}
{% block css %}

<!------ Include the above in your HEAD tag ---------->
<script src="https://use.fontawesome.com/5a8a7bb461.js"></script>

<link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">

<style type="text/css">
p.testi{font-family: 'Courgette', cursive; font-size:17px}
</style>
{% endblock %}

{% block container %}

<div id="ttr_page" class="container">

<div id="ttr_content_and_sidebar_container">
<div id="ttr_content">
<div id="ttr_content_margin"class="container-fluid">
<div class="ttr_Home_html_row0 row" style="padding-top:0px;">
<div class="ttr_Home_html_row0 row" style="padding-top:0px;">
	<div id="mission">
		<h1><span class="sec-clr">Ref</span>erences</h1>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mycol2">
<div class="container">
	<div class="row">
		<div class="col-sm-6">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <div class="row" style="padding: 20px">
                    <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
                    <p class="mission testi">Amazing, easy to use. My staff learns now efficiently.</p><br>
                    <div class="row">
                    <div class="col-sm-2">
                        <img src="{% static 'core/images/e-smartphone logo.png' %}" class="img-responsive" style="width: 80px">
                        </div>
                        <div class="col-sm-10">
                        <h4><strong><span class="prm-clr">e-smartphone.pl</span></strong></h4>
                        <p class="testimonial_subtitle"><span>Patryk Bernatowicz</span><br>
                        <span>CEO</span>
                        </p>
                    </div>
                    </div>
                  </div>
                </div>
               <div class="item">
                   <div class="row" style="padding: 20px">
                    <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
                    <p class="mission testi">Reliable and cost-efficent.</p><br>
                    <div class="row">
                    <div class="col-sm-2">
                        <img src="{% static 'core/images/ako logo.jpg' %}" class="img-responsive" style="width: 80px">
                        </div>
                        <div class="col-sm-10">
                        <h4><strong><span class="prm-clr">ako.com.pl</span></strong></h4>
                        <p class="testimonial_subtitle"><span>Janusz Maciuba</span><br>
                        <span>CEO</span>
                        </p>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>

<div class="col-sm-6">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <div class="row" style="padding: 20px">
                    <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
                    <p class="mission testi">Thanks to elearn.ai we were able to start offering our trainings online. Our clients are excited. </p><br>
                    <div class="row">
                    <div class="col-sm-2">
                        <img src="{% static 'core/images/4actauries logo.png' %}" class="img-responsive" style="width: 80px">
                        </div>
                        <div class="col-sm-10">
                        <h4><strong><span class="prm-clr">4actuaries.com</span></strong></h4>
                        <p class="testimonial_subtitle"><span>Radoslaw Misiewicz</span><br>
                        <span>Partner</span>
                        </p>
                    </div>
                    </div>
                  </div>
                </div>
               <div class="item">
                   <div class="row" style="padding: 20px">
                    <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
                    <p class="mission testi"> It simply works. My team enjoys elearn.ai.</p><br>
                    <div class="row">
                    <div class="col-sm-2">
                        <img src="{% static 'core/images/aegon logo.png' %}"  class="img-responsive" style="width: 80px">
                        </div>
                        <div class="col-sm-10">
                        <h4><strong><span class="prm-clr">aegon.com</span></strong></h4>
                        <p class="testimonial_subtitle"><span>Marek Kajdanowicz</span><br>
                        <span>Director</span>
                        </p>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
	</div>
</div>


			</div>

			<div class="clear-div"></div>




		</div>
		</div>
</div>





</div>

</div>


<div style="height:0px;width:0px;overflow:hidden;-webkit-margin-top-collapse: separate;"></div>
</div>
</div>
<div style="clear:both">
</div>
</div>
<div style="height:0px;width:0px;overflow:hidden;"></div>

{% endblock %}

{% block elearning-js %}
{% endblock elearning-js %}