{% extends 'base.html' %}
{% load static %}

{% block content_header %}
<section id="solutions-header" class="section" data-overlay="8">
  <div class="container text-white">
    <h3>Solutions</h3>
    <h6 class="text-light mb-5">Simple. Direct. To the point.</h6>
  </div>
</section>
{% endblock content_header %}

{% block content %}
    <section id="solutions" class="section">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="card border">
              <div class="card-body text-center">
                <h5 class="card-title">Actuarial & Accounting E-learnings</h5>
                <p>E-learnings for you and your staff</p>
                <a class="fs-12 fw-600" href="{% url 'contact' %}">Request a demo</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
              <div class="card border">
                <div class="card-body text-center">
                  <h5 class="card-title">Actuarial & Accounting Interview support</h5>
                  <p>Exams that will help you verify the level of knowledge of job applicant.</p>
                  <a class="fs-12 fw-600" href="{% url 'contact' %}">Request a demo</a>
                </div>
              </div>
            </div>
          </div>
        <div class="row align-items-center">
          <div class="col-sm-6 text-center mt-7 mb-7">
              <iframe width="100%" height="315" src="https://www.youtube.com/embed/mgZ-JjTDf_s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="col-sm-6 text-center mt-7 mb-7">
              <a class="btn btn-round btn-primary mw-150" href="{% url 'exam-list' %}">See the base of e-learnings and exams</a>
          </div>
        </div>

          <div class="row">
            <div class="col-sm-12 text-center">
              <h6 class="mb-4">Both solutions are available in yearly subscription model. We have a very competitive pricing model.</h6>
              <h7>We are constantly growing and adding new e-learnings to our database. We won’t let you get bored.</h7>
            </div>
          </div>
        </div>
    </section>
{% endblock content %}